* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("assets/kucing.png");
    background-size: cover;
}

main {
    text-align: center;
}

header video {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 1px 10px 2px rgba(255, 255, 255, 0.893);
}

h1 {
    margin: 20px;
    color: rgb(195, 94, 35);
    font-family: "Josefin Sans", sans-serif;
}

h1#header-end {
    display: none;
    margin-bottom: 150px;
}

p {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
    border-right: .15em solid rgb(195, 94, 35);
    white-space: nowrap;
    margin: 0 auto;
}

p.p-first {
    animation:
        typing-first 9s steps(40, end),
        blink-caret .75s step-end infinite;
}

p.p-second {
    animation:
        typing-second 9s steps(40, end),
        blink-caret .75s step-end infinite;
}

p.p-third {
    animation:
        typing-third 9s steps(40, end),
        blink-caret .75s step-end infinite;
}

p.p-fourth {
    animation:
        typing-fourth 9s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing-first {
    0% {
        width: 0
    }

    25% {
        width: 100%
    }
}

@keyframes typing-second {
    0% {
        width: 0;
    }

    25% {
        width: 0
    }

    50% {
        width: 100%
    }
}

@keyframes typing-third {
    0% {
        width: 0;
    }

    50% {
        width: 0
    }

    75% {
        width: 100%
    }
}

@keyframes typing-fourth {
    0% {
        width: 0;
    }

    75% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(195, 94, 35);
    }
}

section {
    display: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 3px rgb(195, 94, 35);
    border-style: dotted;
    border-radius: 20px 0 20px 0;
    width: 70vw;
    margin-bottom: 250px;
    padding: 25px;
    height: 100px;
    max-width: 310px;
}

section.first-content {
    display: block;
}

section span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(195, 94, 35);
}

.btn-container button {
    padding: 10px;
    border-radius: 10px;
    margin: 20px 5px;
    color: aliceblue;
    border: none;
    font-weight: 500;
    width: 60px;
}

.btn-container button#btn-yes {
    background-color: rgb(25, 144, 124);
    box-shadow: 0 0 3px 1px rgb(25, 144, 124);
}

.btn-container button#btn-no {
    background-color: rgba(236, 46, 46, 0.999);
    box-shadow: 0 0 3px 1px rgba(236, 46, 46, 0.999);
}